a {
  text-decoration: none; /* Elimină sublinierea */
  color: inherit; /* Setează culoarea linkului la culoarea textului părintelui */
}



.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAV BAR */
.nav-bar {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#e0e0e0f3;
  color: #121212;
}
.nav-logo {
  width: 100px;
  margin-left: 30px;
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu li{font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  }
  .nav-menu li:hover{color:#F87719}


.search-button-section{display: flex;
flex-direction: row;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
  background: none;
  border: none; 
  cursor: pointer;

}

.search svg {
  width: 100%; 
  height: 100%; 
}

.input{font-family: inherit;
  border: 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: 0;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;}
  



  .movie-list::-webkit-scrollbar {
    height: 10px; /* Înălțimea scrollbar-ului */
}

.movie-list::-webkit-scrollbar-track {
    background: #d3d3d3; /* Fundalul track-ului scrollbar-ului */
    border-radius: 5px; /* Rounding pentru track */
}

.movie-list::-webkit-scrollbar-thumb {
    background: #555; /* Culoarea thumb-ului scrollbar-ului */
    border-radius: 5px; /* Rounding pentru thumb */
}

.movie-list::-webkit-scrollbar-thumb:hover {
    background: #F87719/* Culoarea thumb-ului la hover */
}
/* Container pentru lista de filme */
.movie-list {
  display: flex;
  overflow-x: auto;
  height: calc(100vh - 260px);
  padding: 20px;
  background-color:  #e0e0e0f3;
  
}

/* Stil pentru fiecare card de film */
.movie-item {
  flex: 0 0 auto;

  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

/* Imaginea din card */
.movie-item-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100%;
}

.movie-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  margin-top: 50px;
  gap:15px;
}



/* Tema întunecată (Dark Mode) */
.darkmode {
  background-color: #141414; /* Fundal negru */
  color: #e0e0e0; /* Text deschis la culoare */
}

/* Fundal întunecat pentru navbar */
.darkmode .nav-bar {
  background-color: #111111;
  color: #e0e0e0;
}

.darkmode .footer-section{ background-color: #141414;
}

.darkmode .movie-list{
  background-color: #111111;
}

.darkmode .input{color: white;
  border-bottom: 2px solid white}



/* Stiluri pentru butonul Dark Mode */
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: #F87719;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  margin-right: 30px;
}

/* Iconul de comutare pentru dark mode */
#theme-switch svg {
  fill: rgb(243, 243, 243);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

/* Tranziție pentru schimbarea culorilor */
body, .nav-bar, footer {
  transition: background-color 0.3s, color 0.3s;
}

.page-exit {
  transform: translateX(-100%); /* Mută conținutul paginii curente spre stânga */
}

/* Tranziție pentru intrarea paginii noi */
.page-enter {
  transform: translateX(100%); /* Inițializează noua pagină în afara ecranului */
}

.page-enter-active {
  transform: translateX(0); /* Aduce noua pagină la poziția inițială */
  transition: transform 0.4s ease; /* Durata tranziției */
}
.fade {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}